<p *ngIf='insufficientBalance' style="color: red">You have insufficient balance</p>
<p *ngIf="joloTransactionStatus === 'SUCCESS'" style="color: green">Your transaction is successful</p>
<p *ngIf="joloTransactionStatus === 'FAILURE'" style="color: red">Your transaction is not successful, please contact administrator for further enquiry.</p>
<p *ngIf='!billDue && utilityTransactionValidated' style="color: red">{{utilityTransactionErrorMessage}}.</p>

<div class="row">
    <div class="col-xs-10 col-10 col-md-8">
        <span>Recharge Type</span>
        <!-- <select class="form-control" id="user" #rechargeType [(ngModel)]="rechargeType" (change)="changeRechargeType($event, rechargeType.value)"> -->
            <select class="form-control" [(ngModel)]="rechargeMode" (change)="changeRechargeType()">
          <option [value]="-1">Select Recharge Option</option>
          <ng-container *ngIf="rechargeTypes && rechargeTypes.length>0">
            <option *ngFor="let rechargeOption of rechargeTypes" [value]="rechargeOption">{{rechargeOption}}</option>
          </ng-container>
        </select>
    </div>
    <div *ngIf="rechargeMode === 'PREPAID' || rechargeMode === 'DTH'">
        <div class="col-xs-10 col-10 col-md-8">
            <div>Operator Name</div>
            <select class="form-control" id="rechargeType" [(ngModel)]="operatorName">
                <!-- <option [value]="-1">Select Recharge Option</option> -->
                <ng-container>
                  <option *ngFor="let apiInfo of apiInfoList" [value]="apiInfo.operatorName">{{apiInfo.operatorName}}</option>
                </ng-container>
            </select>
          </div>
          <div class="col-xs-10 col-10 col-md-8">
            <div>Mobile Number</div>
            <input type="number" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'mobileNumber'/>
          </div>
          <div class="col-xs-10 col-10 col-md-8">
            <div>Recharge Amount</div>
            <input type="number" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'rechargeAmount'/>
          </div>
          <!-- <div class="col-xs-10 col-10 col-md-8" style="padding-top: 10px">
              <button (click) = 'recharge()'>Recharge</button>
          </div> -->
          <div class="col-xs-10 col-10 col-md-8" style="padding-top: 10px">
            <button (click) = 'checkAndDeductBalance()' class="btn btn-primary float-left">Recharge</button>
          </div>
    </div>

    <div *ngIf="rechargeMode === 'POSTPAID'">
      <div class="col-xs-10 col-10 col-md-8">
          <div>Operator Name</div>
          <select class="form-control" id="rechargeType" [(ngModel)]="operatorName">
              <!-- <option [value]="-1">Select Recharge Option</option> -->
              <ng-container *ngIf="rechargeTypes && rechargeTypes.length>0">
                <option *ngFor="let apiInfo of apiInfoList" [value]="apiInfo.operatorName">{{apiInfo.operatorName}}</option>
              </ng-container>
          </select>
        </div>
        <div class="col-xs-10 col-10 col-md-8">
          <div>Mobile Number</div>
          <input type="number" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'mobileNumber'/>
        </div>
        <div class="col-xs-10 col-10 col-md-8">
          <div>Recharge Amount</div>
          <input type="number" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'rechargeAmount'/>
        </div>
        <div class="col-xs-10 col-10 col-md-8">
          <div>Customer Mobile</div>
          <input type="text" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'customerMobile'/>
        </div>
        <div class="col-xs-10 col-10 col-md-8">
          <div>Customer Name</div>
          <input type="number" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'customerName'/>
        </div>
        <!-- <div class="col-xs-10 col-10 col-md-8" style="padding-top: 10px">
            <button (click) = 'recharge()'>Recharge</button>
        </div> -->
        <div class="col-xs-10 col-10 col-md-8" style="padding-top: 10px">
          <button (click) = 'checkAndDeductBalance()' class="btn btn-primary float-left">Recharge</button>
        </div>
  </div>
  <div *ngIf="rechargeMode === 'ELECTRICITY' || rechargeMode === 'GAS' || rechargeMode === 'WATER'">
    <div class="col-xs-10 col-10 col-md-8">
        <div>Operator Name</div>
        <select class="form-control" id="rechargeType" [(ngModel)]="operatorName">
            <!-- <option [value]="-1">Select Recharge Option</option> -->
            <ng-container>
              <option *ngFor="let apiInfo of apiInfoList" [value]="apiInfo.operatorName">{{apiInfo.operatorName}}</option>
            </ng-container>
        </select>
      </div>
      <!--Electricity-->
      <div class="col-xs-10 col-10 col-md-8" *ngIf="rechargeMode === 'ELECTRICITY'">
        <div>Consumer Number</div> <!--Service-->
        <input type="number" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'consumerNumber'/>
      </div>
      <div class="col-xs-10 col-10 col-md-8" *ngIf="rechargeMode === 'GAS'">
        <div>Consumer Number</div> <!--Service-->
        <input type="text" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'consumerNumber' maxlength="15" minlength="10"/>
      </div>
      <div class="col-xs-10 col-10 col-md-8" *ngIf="rechargeMode === 'WATER'">
        <div>Consumer Number</div> <!--Service-->
        <input type="text" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'consumerNumber' />
      </div>
      <div class="col-xs-10 col-10 col-md-8">
        <div>Customer Number</div>
        <input type="number" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'customerMobile'/>
      </div>
      <div class="col-xs-10 col-10 col-md-8" style="padding-top: 10px" *ngIf="customerMobile !== '' && consumerNumber !=='' && !utilityTransactionValidated">
        <button (click) = 'validateTransaction()'>Validate</button>
      </div>
      <div *ngIf='billDue && utilityTransactionValidated'>
        <div class="col-xs-10 col-10 col-md-8">
          <div>Bill Amount</div>
          <input type="number" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'rechargeAmount' disabled/>
        </div>
        <div class="col-xs-10 col-10 col-md-8">
          <div>Customer Name</div>
          <input type="text" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'customerName' disabled/>
        </div>
      </div>
      <div class="col-xs-10 col-10 col-md-8" style="padding-top: 10px" *ngIf = 'billDue && utilityTransactionValidated'>
        <button (click) = 'checkAndDeductBalance()' class="btn btn-primary float-left">Recharge</button>
      </div>
      
      <!-- <div class="col-xs-10 col-10 col-md-8" style="padding-top: 10px">
          <button (click) = 'recharge()'>Recharge</button>
      </div> -->
</div>
  
</div>