<nav class="navbar navbar-expand navbar-dark bg-dark col-md-12 col-sm-12">
  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav w-100 nav-justified">
      <!-- Home -->
      <li class="nav-item">
        <div class="nav-link pointer">
          <a class="nav-link pointer" role="button" [ngClass]="{'nav-item active': rechargeMode === 'PREPAID'}"
            (click)='changeView("PREPAID")'>Prepaid</a>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link pointer">
          <a class="nav-link pointer" role="button" [ngClass]="{'nav-item active': rechargeMode === 'ELECTRICITY'}"
            (click)='changeView("ELECTRICITY")'> Electricity</a>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link pointer">
          <a class="nav-link pointer" role="button" [ngClass]="{'nav-item active': rechargeMode === 'DTH'}"
            (click)='changeView("DTH")'> DTH</a>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link pointer">
          <a class="nav-link pointer" role="button" [ngClass]="{'nav-item active': rechargeMode === 'GAS'}"
            (click)='changeView("GAS")'> Gas</a>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link pointer">
          <a class="nav-link pointer" role="button" [ngClass]="{'nav-item active': rechargeMode === 'WATER'}"
            (click)='changeView("WATER")'> Water</a>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link pointer">
          <a class="nav-link pointer" role="button" [ngClass]="{'nav-item active': rechargeMode === 'POSTPAID'}"
            (click)='changeView("POSTPAID")'> Postpaid</a>
        </div>
      </li>
      <li class="nav-item">
          <div class="nav-link pointer">
            <a class="nav-link pointer" role="button" [ngClass]="{'nav-item active': rechargeMode === 'LANDLINE'}"
              (click)='changeView("LANDLINE")'> Landline</a>
          </div>
        </li>
    </ul>
  </div>


</nav>


<div class="alert alert-danger alert-dismissible" *ngIf='insufficientBalance'>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>You have insufficient balance!</strong> {{message}}
</div>
<div class="alert alert-danger alert-dismissible" *ngIf="joloTransactionStatus === 'FAILURE'">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Your transaction is not successful, please contact
    administrator for further enquiry.</strong> {{message}}
</div>
<div class="alert alert-danger alert-dismissible" *ngIf='!billDue && utilityTransactionValidated'>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{utilityTransactionErrorMessage}}.</strong> {{message}}
</div>
<div class="alert alert-danger alert-dismissible" *ngIf='validationFailed'>
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>issue with validation, correct your form input.</strong> {{message}}
</div>
<div class="alert alert-success alert-dismissible" *ngIf="joloTransactionStatus === 'SUCCESS'">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Your transaction is successful</strong>
</div>
<div class="row">
  <div class="col-md-8">
    <div *ngIf="rechargeMode === 'PREPAID' || rechargeMode === 'DTH'">
      <form [formGroup]="prepaidRechargeForm" class="col-md-12 border-left-0 mb-5">
        <div class="row">
          <div class="col-md-6">
              <div class="form-group  mb-4">
                  <span>Operator Name</span>
                  <select class="form-control" id="rechargeType" formControlName="operatorName">
                    <!-- <option [value]="-1">Select Recharge Option</option> -->
                    <ng-container>
                      <option *ngFor="let apiInfo of apiInfoList" [value]="apiInfo.operatorName">{{apiInfo.operatorName}}
                      </option>
                    </ng-container>
                  </select>
                  <span class="error" *ngIf="formSubmitted && fPrepaidRecharge.operatorName.errors" style="color: red">need
                    attention</span>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-4">
            <div *ngIf="rechargeMode === 'PREPAID'">
              <span>Mobile Number</span>
              <input type="text" class="form-control" formControlName="mobileNumber" placeholder="Mobile Number"/>
              <span class="error" *ngIf="formSubmitted && fPrepaidRecharge.mobileNumber.errors" style="color: red">need
                attention</span>
            </div>
            <div *ngIf="rechargeMode === 'DTH'">
              <span>Service Number</span>
              <input type="text" class="form-control" formControlName="dthServiceNumber" placeholder="Service Number"/>
              <span class="error" *ngIf="formSubmitted && fPrepaidRecharge.dthServiceNumber.errors"
                style="color: red">need
                attention</span>
            </div>
          </div>


          <div class="col-md-6 mb-4">
            <span>Recharge Amount</span>
            <input type="number" class="form-control" formControlName="rechargeAmount" (change)='validateAmount()'
              placeholder="Recharge Amount" />
            <span class="error" *ngIf="formSubmitted && fPrepaidRecharge.rechargeAmount.errors" style="color: red">need
              attention</span>
          </div>
        </div>
        <!-- <div class="row"> -->
        <!-- <div class="col-10">
            <span>Recharge Amount</span>
            <input type="number" class="form-control" formControlName="rechargeAmount" (change)='validateAmount()' />
            <span class="error" *ngIf="formSubmitted && fPrepaidRecharge.rechargeAmount.errors" style="color: red">need
              attention</span>
          </div>
        </div> -->
        <div class="row">
          <div class="col-10" style="padding-top: 10px">
            <button (click)='checkAndDeductBalance()' class="btn btn-primary float-left">Recharge</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Add Rest Part moved in note pad -->
  <div class="col-md-8">
    <div *ngIf="rechargeMode === 'ELECTRICITY' || rechargeMode === 'GAS' || rechargeMode === 'WATER'">
      <form [formGroup]="utilityRechargeForm" class="col-md-12 border-left-0 mb-5">
        <div class="row">
          <div class="col-md-6 mb-4">
            <span>Operator Name</span>
            <select class="form-control" id="rechargeType" formControlName="operatorName">
              <ng-container>
                <option *ngFor="let apiInfo of apiInfoList" [value]="apiInfo.operatorName">{{apiInfo.operatorName}}
                </option>
              </ng-container>
            </select>
            <!-- <span class="error" *ngIf="formSubmitted && utilityRechargeForm.operatorName.errors" style="color: red">need
              attention</span> -->
          </div>
        </div>
        <!--Electricity-->
        <div class="row mb-4">
          <div class="col-md-6" *ngIf="rechargeMode === 'ELECTRICITY'">
            <span>Consumer Number</span>
            <!--Service-->
            <input type="number" class="form-control" formControlName="consumerNumber" />
          </div>
          <div class="col-md-6" *ngIf="rechargeMode === 'WATER'">
              <span>Consumer Number</span>
              <!--Service-->
              <input type="text" class="form-control" formControlName="consumerNumber" />
          </div>
          <div class="col-md-6" *ngIf="rechargeMode === 'GAS'">
              <span>Consumer Number</span>
              <!--Service-->
              <input type="text" class="form-control" formControlName="consumerNumber" maxlength="15" minlength="10" />
          </div>
          <div class="col-md-6">
              <span>Customer Mobile Number</span>
              <input type="text" class="form-control" formControlName="mobileNumber" />
              <!-- <span class="error" *ngIf="formSubmitted && utilityRechargeForm.mobileNumber.errors" style="color: red">need
                attention</span> -->
            </div>
        </div>
        
        <div class="row">
          <div class="col-10" style="padding-top: 10px"
            *ngIf="fUtilityRecharge.operatorName.status === 'VALID' && fUtilityRecharge.mobileNumber.status === 'VALID' && fUtilityRecharge.consumerNumber.status === 'VALID' && !utilityTransactionValidated">
            <button class="btn btn-primary" (click)='validateTransaction()'>Validate</button>
          </div>
        </div>
        <div *ngIf='billDue && utilityTransactionValidated'>
          <div class="row mb-4">
            <div class="col-md-4">
              <span>Bill Amount</span>
              <input type="number" class="form-control" formControlName="rechargeAmount" />
            </div>
            <div class="col-md-4">
              <span>Bill Due Date</span>
              <input type="text" class="form-control" formControlName="dueDate" />
            </div>
            <div class="col-md-4">
                <span>Invoice Number</span>
                <input type="text" class="form-control" formControlName="invoiceNumber" />
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <span>Customer Name</span>
              <input type="text" class="form-control" formControlName="customerName" />
            </div>
            
          </div>

        </div>
        <div class="col-10" style="padding-top: 10px" *ngIf='billDue && utilityTransactionValidated'>
          <button (click)='checkAndDeductBalance()' class="btn btn-primary float-left">Pay</button>
          <button (click)='resetInputValue()' style="margin-left: 15px; background-color: black;"
            class="btn btn-primary float-left">Reset</button>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-8">
    <div *ngIf="rechargeMode === 'POSTPAID'">
      <!-- Form Start -->
      <form [formGroup]="postpaidRechargeForm" class="col-md-12 border-left-0 mb-5">
        <div class="row mb-4">
            <div class="col-md-6">
                <span>Operator Name</span>
                <select class="form-control" id="rechargeTypePostpaid" formControlName="operatorName">
                  <!-- <option [value]="-1">Select Recharge Option</option> -->
                  <ng-container *ngIf="rechargeTypes && rechargeTypes.length>0">
                    <option *ngFor="let apiInfo of apiInfoList" [value]="apiInfo.operatorName">{{apiInfo.operatorName}}
                    </option>
                  </ng-container>
                </select>
              </div>
        </div>
        
        <div class="row mb-4">
            <div class="col-md-6">
                <span>Mobile Number</span>
                <input type="number" class="form-control" formControlName="mobileNumber" />
              </div>
              <div class="col-md-6">
                <span>Recharge Amount</span>
                <input type="number" class="form-control" formControlName="rechargeAmount" />
              </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-6">
                <span>Customer Mobile</span>
                <input type="text" class="form-control" formControlName='customerMobile' />
              </div>
              <div class="col-md-6">
                <span>Customer Name</span>
                <input type="text" class="form-control" formControlName='customerName' />
              </div>
        </div>
        
        <div class="col-md-6" style="padding-top: 10px">
          <button (click)='checkAndDeductBalance()' class="btn btn-primary float-left">Pay</button>
        </div>
      </form>
      <!-- Form End-->
    </div>
  </div>

  <div class="col-md-8">
      <div *ngIf="rechargeMode === 'LANDLINE'">
        <!-- Form Start -->
        <form [formGroup]="landLineRechargeForm" class="col-md-12 border-left-0 mb-5">
          <div class="row mb-4">
              <div class="col-md-6">
                  <span>Operator Name</span>
                  <select class="form-control" id="rechargeTypeLandline" formControlName="operatorName">
                    <!-- <option [value]="-1">Select Recharge Option</option> -->
                    <ng-container *ngIf="rechargeTypes && rechargeTypes.length>0">
                      <option *ngFor="let apiInfo of apiInfoList" [value]="apiInfo.operatorName">{{apiInfo.operatorName}}
                      </option>
                    </ng-container>
                  </select>
                </div>
          </div>
          
          <div class="row mb-4">
              <div class="col-md-6">
                  <span>Landline Number</span>
                  <input type="number" class="form-control col" formControlName="landLineNumber" />
                </div>
                <div class="col-md-6">
                  <span>Bill Amount</span>
                  <input type="number" class="form-control col" formControlName="rechargeAmount" />
                </div>
          </div>
          <div class="row mb-4">
              <div class="col-md-6">
                  <span>Customer Mobile Number</span>
                  <input type="text" class="form-control col" formControlName='customerMobile' />
                </div>
                <div class="col-md-6">
                  <span>Customer Name</span>
                  <input type="text" class="form-control col" formControlName='customerName' />
                </div>
          </div>
          <div class="row mb-4">
              <div class="col-md-6">
                  <span>STD Code</span>
                  <input type="text" class="form-control col" formControlName='stdCode' />
                </div>
              <div class="col-md-6">
                  <span>Account Number</span>
                  <input type="text" class="form-control col" formControlName='accountNumber' />
                </div>
          </div>
          
          <div class="col-md-12" style="padding-top: 10px">
            <button (click)='checkAndDeductBalance()' class="btn btn-primary float-left">Pay</button>
          </div>
        </form>
        <!-- Form End-->
      </div>
    </div>
</div>