ul .active {
    border-bottom: 2px solid #FFE600
}

span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

form {
    background-color: white;
}
.error {
    font-weight: normal;
}

.btn {
    margin-bottom: 15px;
}