<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand fa fa-home" style="font-size:48px" [routerLink]="['/dashboard']"></a>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-link" [ngClass]="{'nav-item active': add}"><a (click)='changeView("add")'>Add API</a></li>
        <li class="nav-link" [ngClass]="{'nav-item active': update}"><a (click)='changeView("update")'>Update API</a></li>
        <!-- <li><a href="#">Link</a></li> -->
      </ul>
  </div>
</nav>

<div class="alert alert-success alert-dismissible" *ngIf="apiUpdatedSuccessfully">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>API Updated Successfully</strong>
</div>
<div class="alert alert-success alert-dismissible" *ngIf="apiAddedSuccessfully">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>API Added Successfully</strong>
</div>
<!-- Section API Add-->
<div class="card" *ngIf='add'>
    <form #fA="ngForm">
  <div class="card-header">Add API</div>
    <div class="card-body">
      <div>Recharge Type</div>
      <!-- <select class="form-control" id="user" #rechargeType [(ngModel)]="rechargeType" (change)="changeRechargeType($event, rechargeType.value)"> -->
          <select name='rechargeTypeA' class="form-control" id="rechargeType" [(ngModel)]="rechargeType" (change)="changeRechargeType()" #rechargeTypeA="ngModel" required>
            <option [value]="-1">Select Recharge Option</option>
              <ng-container *ngIf="rechargeTypes && rechargeTypes.length>0">
              <option *ngFor="let rechargeOption of rechargeTypes" [value]="rechargeOption">{{rechargeOption}}</option>
            </ng-container>       
          </select>
    </div>
    <div>
        <div class="card-body">
            <div>Operator Name</div>
            <input name='operatorNameA' type="text" [(ngModel)] = 'operatorName' #operatorNameA required/>
            <span style="color:red">*</span>
          </div>
          <div class="card-body">
            <div>API</div>
            <input name='apiValueA' type="text" class="col-xs-10 col-10 col-md-8" [(ngModel)] = 'apiValue' #apiValueA required/>
            <span style="color:red">*</span>
          </div>
          <div class="card-body">
            <div>Validation Required</div>
            <select name='validationRequiredA' class="form-control" id="rechargeType" [(ngModel)] ='confirmation' (change)="changeConfirmation()" #validationRequiredA required>
              <!-- <option [value]="-1">Select Recharge Option</option> -->
                <ng-container *ngIf="confirmationTypes && confirmationTypes.length>0">
                <option *ngFor="let confirmation of confirmationTypes" [value]="confirmation">{{confirmation}}</option>
              </ng-container>       
            </select>
          </div>          
          <div class="card-body" *ngIf='validationRequired'>
            <div>API Validation</div>
            <input name="validationApiValueA" type="text" class="card-body" [(ngModel)] = 'validationApiValue' #validationApiValueA required/>
            <span style="color:red">*</span><br/>
          </div>
          <div class="card-body" style="padding-top: 10px">
              <button (click) = 'AddAPI()' class="btn btn-primary float-left" [disabled]='!fA.form.valid'>Add API</button>
          </div>
    </div>
  </form>
  </div>

<!-- Section API Update-->
<div class="card" *ngIf='update'>
  <div class="card-header">
    <span>Update API</span>
  </div>
  <form name="form" (ngSubmit)="f.form.valid && updateAPI(f)" #f="ngForm">
    <div class="card-body form-group">
      <span>Recharge Type</span>
      <!-- <select class="form-control" id="user" #rechargeType [(ngModel)]="rechargeType" (change)="changeRechargeType($event, rechargeType.value)"> -->
          <select class="form-control" name="rechargeType" [(ngModel)]="rechargeType" (change)="changeRechargeType(rechargeTypeControl)" #rechargeTypeControl="ngModel">
            <option [value]="-1">Select Recharge Option</option>
              <ng-container *ngIf="rechargeTypes && rechargeTypes.length>0">
              <option *ngFor="let rechargeOption of rechargeTypes" [value]="rechargeOption">{{rechargeOption}}</option>
            </ng-container>       
          </select>
    </div>
    <div>
        <div class="card-body form-group">
        <span>Operator Name</span>
      <!-- <select class="form-control" id="user" #rechargeType [(ngModel)]="rechargeType" (change)="changeRechargeType($event, rechargeType.value)"> -->
          <select class="form-control" name="Operator" [(ngModel)]="operatorName" (change)="changeOperatorName()" #operatorNameControl="ngModel" required>
            <option [value]="-1">Select Operator</option>
              <ng-container *ngIf="filteredApiInfoList && filteredApiInfoList.length>0">
              <option *ngFor="let filteredApiInfo of filteredApiInfoList" [value]="filteredApiInfo.operatorName">{{filteredApiInfo.operatorName}}</option>
            </ng-container>       
          </select>
          <div *ngIf="f.submitted && operatorNameControl.invalid" class="invalid-feedback">
              <div *ngIf="operatorNameControl.errors.required">Operator Name is required</div>
          </div>
        </div>
        <div class="card-body form-group">
          <span>API</span>
          <input name="apiValue" type="text" class="form-control" [(ngModel)] = 'apiValue' #apiValueControl='ngModel' required/>
          <span style="color:red">*</span>
          <div *ngIf="f.submitted && apiValueControl.invalid" class="invalid-feedback">
              <div *ngIf="apiValueControl.errors.required">Api value is required</div>
          </div>
        </div>
        <div class="card-body form-group" *ngIf='validationApiValue'>
          <span>API Validation</span>
          <input name="apiValidation" type="text" class="form-control" [(ngModel)] = 'validationApiValue' #apiValidationControl= 'ngModel' required/>
          <span style="color:red">*</span>
          <div *ngIf="f.submitted && apiValidationControl.invalid" class="invalid-feedback">
              <div *ngIf="apiValidationControl.errors.required">Api value is required</div>
          </div>
        </div>
        <div class="card-body form-group" style="padding-top: 10px">
            <button [disabled] = !f.form.valid (click) = 'updateAPI()' class="btn btn-primary float-left">Update API</button>
            <!-- <button (click) = 'updateAPI()' class="btn btn-primary float-left">Update API</button> -->            
        </div>
  </div>
</form>
</div>
