<div class="w3-container" title="Add Balance" (click)="walletaddapprovalpage()">
        <p class="widget-text">Wallet Add Approval</p>
        <p><i class="fa fa-cc-visa w3-xxlarge pointer"></i>
                <span class="w3-badge w3-right w3-small w3-green">{{addwalletnotificationcount}}</span>
                <!-- <div class="w3-dropdown-content w3-card-4 w3-bar-block font-size-12" style="width:600px">
            <a *ngFor="let detail_message of add_wallet_detail_messages"
                class="w3-bar-item w3-button"><b>{{detail_message.firstname}}</b>&nbsp;<b>{{detail_message.lastname}}</b>
                {{detail_message.comment}}</a>
        </div> -->
        </p>
</div>