<p *ngIf="role_id === 4" class="container">
  <input type="radio" [value]="self" name="viewMode" (change) = "changeView('self')" [checked]='true'> Self View
  <input type="radio" [value]="admin" name="viewMode" (change)="changeView('admin')"> Admin View
</p>
<div class="container" *ngIf="viewMode==='self'">
  <h1>
    Rank Hierarchy
  </h1>
  <h3>Self Information</h3>
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr class="grid-header">
        <th>USER NAME</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>MOBILE NUMBER</th>
        <th>GENDER</th>
        <th>ROLE NAME</th>
        <th>EMAIL</th>
        <th>DOB</th>
      </tr>
    </thead>
    <ng-container *ngIf="self">
      <tbody>
        <tr>
          <td>{{self.user_name}}</td>
          <td>{{self.first_name}}</td>
          <td>{{self.last_name}}</td>
          <td>{{self.mobile_number}}</td>
          <td>{{self.sex}}</td>
          <td>{{self.role_name}}</td>
          <td>{{self.email}}</td>
          <td>{{self.dob | date: 'dd-MMM-yyyy'}}</td>
        </tr>
      </tbody>
    </ng-container>
    <ng-container *ngIf="!self">
      <tbody>
        <tr>
          <td colspan="8">
            <span>No records to display.</span>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>

  <h3>Parent Information</h3>
  <table class="table table-hover table-striped table-bordered">
    <thead>
      <tr class="grid-header">
        <th>USER NAME</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>MOBILE NUMBER</th>
        <th>GENDER</th>
        <th>ROLE NAME</th>
        <th>EMAIL</th>
        <th>DOB</th>
      </tr>
    </thead>
    <ng-container *ngIf="parent">
      <tbody>
        <tr>
          <td>{{parent.user_name}}</td>
          <td>{{parent.first_name}}</td>
          <td>{{parent.last_name}}</td>
          <td>{{parent.mobile_number}}</td>
          <td>{{parent.sex}}</td>
          <td>{{parent.role_name}}</td>
          <td>{{parent.email}}</td>
          <td>{{parent.dob | date: 'dd-MMM-yyyy'}}</td>
        </tr>
      </tbody>
    </ng-container>
    <ng-container *ngIf="!parent">
      <tbody>
        <tr>
          <td colspan="8">
            <span>No records to display.</span>
          </td>
        </tr>
      </tbody>
    </ng-container>
  </table>

  <div *ngIf='children.length > 0'>
    <h3>Children Information</h3>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr class="grid-header">
          <th>USER NAME</th>
          <th>FIRST NAME</th>
          <th>LAST NAME</th>
          <th>MOBILE NUMBER</th>
          <th>GENDER</th>
          <th>ROLE NAME</th>
          <th>EMAIL</th>
          <th>DOB</th>
        </tr>
      </thead>
      <ng-container *ngIf="children.length>0">
        <tbody>
          <tr *ngFor='let child of children'>
            <td>{{child.user_name}}</td>
            <td>{{child.first_name}}</td>
            <td>{{child.last_name}}</td>
            <td>{{child.mobile_number}}</td>
            <td>{{child.sex}}</td>
            <td>{{child.role_name}}</td>
            <td>{{child.email}}</td>
            <td>{{child.dob | date: 'dd-MMM-yyyy'}}</td>
          </tr>
        </tbody>
      </ng-container>
      <ng-container *ngIf="children.length==0">
        <tbody>
          <tr>
            <td colspan="8">
              <span>No records to display.</span>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
  <hr>
  <div *ngIf="siblings.length > 0">
    <h3>Siblings Information</h3>
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr class="grid-header">
          <th>USER NAME</th>
          <th>FIRST NAME</th>
          <th>LAST NAME</th>
          <th>MOBILE NUMBER</th>
          <th>GENDER</th>
          <th>ROLE NAME</th>
          <th>EMAIL</th>
          <th>DOB</th>
        </tr>
      </thead>
      <ng-container *ngIf="siblings.length>0">
        <tbody>
          <tr *ngFor='let brother of siblings'>
            <td>{{brother.user_name}}</td>
            <td>{{brother.first_name}}</td>
            <td>{{brother.last_name}}</td>
            <td>{{brother.mobile_number}}</td>
            <td>{{brother.sex}}</td>
            <td>{{brother.role_name}}</td>
            <td>{{brother.email}}</td>
            <td>{{brother.dob | date: 'dd-MMM-yyyy'}}</td>
          </tr>
        </tbody>
      </ng-container>
      <ng-container *ngIf="siblings.length==0">
        <tbody>
          <tr>
            <td colspan="8">
              <span>No records to display.</span>
            </td>
          </tr>
        </tbody>
      </ng-container>
    </table>
  </div>
</div>
<!--Admin View-->
<div class="container" *ngIf="viewMode==='admin'">
  <div>
    <div *ngIf='rankAchievers.length > 0'>
      <h3>Children Information</h3>
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr class="grid-header">
            <th>USER NAME</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <!-- <th>MOBILE NUMBER</th> -->
            <!-- <th>GENDER</th> -->
            <!-- <th>ROLE NAME</th> -->
            <!-- <th>EMAIL</th> -->
            <!-- <th>DOB</th> -->
            <th>User Rank</th>
            <th>RankAchievementDate</th>
            <th>JoiningDate</th>
          </tr>
        </thead>
        <ng-container *ngIf="rankAchievers.length>0">
          <tbody>
            <tr *ngFor='let achiever of rankAchievers'>
              <td>{{achiever.userName}}</td>
              <td>{{achiever.firstName}}</td>
              <td>{{achiever.lastName}}</td>
              <td>{{achiever.userRank}}</td>
              <td>{{achiever.rankAchievementDate | date: 'dd-MMM-yyyy'}}</td>
              <td>{{achiever.joiningDate | date: 'dd-MMM-yyyy'}}</td>
            </tr>
          </tbody>
        </ng-container>
        <ng-container *ngIf="rankAchievers.length==0">
          <tbody>
            <tr>
              <td colspan="8">
                <span>No records to display.</span>
              </td>
            </tr>
          </tbody>
        </ng-container>
      </table>
    </div>
  </div>
</div>