.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  .btn {
    margin-left: 16px;
    color: white;
    background-color: #28a745;
  }

.card-footer {
    background-color: black;
}

i {
    color: white;
}
.card-header {
    background-color: black;
    color: white;
}
