@keyframes ticker {
    0% { transform: translate3d(0,0,0);}
    100% { transform: translate3d(-100%,0,0);}
}
.tcontainer{
    width: 100%;
    overflow: hidden;
    height: 26px;
    position: relative;
    top: -22px;
    font-size: 18px;
}