.card-header {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
.text-bold {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.hide {
    display: none;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
  }
.mat-header-cell {
    /* font-weight: bold; */
    font-size: 12px;
    background-color: #1a2138;
    color: white;
    font-family: sans-serif;
}

.btn {
    color: white;
    background-color: 1ec149;
  }

