<!-- <div class="container">
  <div class="row">
    <div class="col-lg-10 col-xl-9 mx-auto">
      <div class="card card-signin flex-row my-5">
        <div class="card-img-left d-none d-md-flex">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Login</h5>
          <form class="form-signin">
            <div class="form-label-group">
              <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>
              <label for="inputUserame">Username</label>
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
              <label for="inputPassword">Password</label>
            </div>
            <hr>
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
            <a class="d-block text-center mt-2 small" href="#">Register</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->


<div class="container">
  <div class="row">

    <div class="login-reg-panel pt-12" style="margin-top:300px">
      <div class="register-info-box animated jackInTheBox" [ngClass]="{'show-log-panel': isLogin}">
        <h2>Don't have an account?</h2>
        <p>&nbsp;</p>
        <label id="label-login" for="log-login-show" *ngIf="isLogin" (click)="isRegister($event)">Register</label>
        <label id="label-register" for="log-reg-show" *ngIf="!isLogin" (click)="isLog_in($event)">Login</label>
        <input type="radio" name="active-log-panel" id="log-login-show">
      </div>
      <div class="white-panel">
        <div class="login-show animated jackInTheBox card-body" [ngClass]="{'show-log-panel': isLogin}">
          <h2>LOGIN</h2>
          <form class="form-signin">
            <div class="form-label-group">
              <input #userid class="animated form-control" [ngClass]="{'shake': islog}" type="text" appSelectAll
                placeholder="User Name" autofocus>
              <input #password class="animated form-control" [ngClass]="{'shake': islog}" type="password"
                placeholder="Password" (keydown.enter)="login($event,userid,password)">


              <input type="button" class="btn btn-lg btn-primary btn-block text-uppercase"
                (click)="login($event,userid,password)" value="Login">
              <a href="">Forgot password?</a><br />
              <span class="login-error animated jackInTheBox" *ngIf="!isLoginSuccess">{{errorMessage}}</span><br />
            </div>
          </form>
        </div>
        <div class="register-show  animated jackInTheBox  card-body" [ngClass]="{'show-log-panel': !isLogin}">
          <h2>REGISTER</h2>
          <form class="form-signin">
            <div class="form-label-group">
              <input #token type="text" class="animated" [ngClass]="{'shake': isRegis}" placeholder="Token">

              <input class="btn btn-lg btn-primary btn-block text-uppercase" (click)="register(token)" type="button"
                value="Validate">
              <span class="login-error animated jackInTheBox" *ngIf="!isRegisterSuccess">Please provide a
                token</span><br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>