<div class="container">
  <h2>
    Configuration
  </h2>
  <table class="table table-hover table-striped">
    <thead>
      <tr class="grid-header">
        <th>CONFIGURATION FIELDS</th>
        <th>CONFIGURATION VALUE</th>
      </tr>
    </thead>
    <ng-container>
      <tbody>
        <tr>
          <td><label>Referal Wallet Balance Deduct Amount</label></td>
          <td><input type="text" [(ngModel)]="referal_wallet_balance_deduct_amount" title="Rs...."
              placeholder="Rs...." /></td>
        </tr>
        <tr>
          <td><label>Down Side Direct Numer Of Joinee</label></td>
          <td><input type="text" [(ngModel)]="down_side_direct_numer_of_joinee" title="Joinee Number..."
              placeholder="Joinee Number...." /></td>
        </tr>
        <tr>
          <td><label>Down Side Direct Of Joinee Point</label></td>
          <td><input type="text" [(ngModel)]="down_side_direct_of_joinee_point" title="Joinee Point..."
              placeholder="Joinee Point...." /></td>
        </tr>
        <tr>
          <td><label>Point Unit Price</label></td>
          <td><input type="text" [(ngModel)]="point_unit_price" title="Rs..." placeholder="Rs...." /></td>
        </tr>
        <tr>
          <td><label>First Registration Wallet Balance</label></td>
          <td><input type="text" [(ngModel)]="first_registration_wallet_balance" title="Rs..." placeholder="Rs...." />
          </td>
        </tr>
        <tr>
          <td><label>Wallet Approvar Role</label></td>
          <td><input type="text" [(ngModel)]="wallet_approver_role" title="Role..." placeholder="Role...." /></td>
        </tr>
        <tr>
          <td><label>Days withing KYC document need to submit.</label></td>
          <td><input type="number" [(ngModel)]="kyc_submission_days" title="KYC submission days...."
              placeholder="KYC submission days...." /></td>
        </tr>
        <tr>
          <td></td>
          <td><button (click)="submitConfiguration()" class="btn btn-primary float-right">Submit</button></td>
        </tr>

      </tbody>
    </ng-container>
  </table>
</div>