<div class="w3-top" *ngIf="isLogin">
  <div class="w3-bar w3-left-align font-large" style="margin-left:-9px;height:46px;">
    <!-- <a class="w3-bar-item w3-button  w3-right w3-hover-white font-large w3-theme-d2 position mobileshow" title="Logout"
      (click)="logout()"><i class="fa fa-sign-out pointer"></i></a>
    <a href="#" class="w3-bar-item w3-button" routerLink="/dashboard"><img src="assets/logo/logo.jpg" class="logo"
        style="width:76px;height:38px;" alt="Avatar"></a> -->




    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small  w3-hover-white header-item" routerLink="/dashboard"
      title="News"><i class="fa fa-globe"></i></a>
    <a href="#" *ngIf="!isLogin" class="w3-bar-item w3-button w3-hide-small  w3-hover-white header-item" title="Login"
      routerLink="/login" href="#"><i class="fa fa-sign-in">Login</i></a> -->
    <!-- <a *ngIf="isLogin" class="w3-bar-item w3-button w3-hide-small  w3-hover-white header-item" title="Login"
      (click)="logout()"><i class="fa fa-sign-out"> Logout</i></a> -->
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small  w3-hover-white header-item" title="Dashboard"
      routerLink="/dashboard" href="#"><i class="fa fa-desktop"><span class="pl-2">Dashboard</span></i></a> -->
    <!-- <a *ngIf="isLogin" (click)="gotoProfile()" class="w3-bar-item w3-button w3-hide-small  w3-hover-white"
      title="Profile"><i class="fa fa-user"></i></a> -->
    <!-- <a *ngIf="isLogin" href="#" class="w3-bar-item w3-button w3-hide-small  w3-hover-white" title="Messages"><i
        class="fa fa-envelope"></i></a> -->
    <!-- <div *ngIf="isLogin" class="w3-dropdown-hover w3-hide-small" (click)="gotoWalletApproval()">
      <button class="w3-button " title="Wallet Withdrawal"><i class="fa fa-bell"></i><span
          class="w3-badge w3-right w3-small w3-green">{{withdrawalnotificationcount}}</span></button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block font-size-12" style="width:600px">
        <a *ngFor="let detail_message of withdrawal_detail_messages"
          class="w3-bar-item w3-button"><b>{{detail_message.firstname}}</b>&nbsp;<b>{{detail_message.lastname}}</b>
          {{detail_message.comment}}</a>
      </div>
    </div>
    <div *ngIf="isLogin" class="w3-dropdown-hover w3-hide-small" (click)="gotoWalletAddDeduct()">
      <button class="w3-button " title="Add Balance"><i class="fa fa-bell"></i><span
          class="w3-badge w3-right w3-small w3-green">{{addwalletnotificationcount}}</span></button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block font-size-12" style="width:600px">
        <a *ngFor="let detail_message of add_wallet_detail_messages"
          class="w3-bar-item w3-button"><b>{{detail_message.firstname}}</b>&nbsp;<b>{{detail_message.lastname}}</b>
          {{detail_message.comment}}</a>
      </div>
    </div> -->
    <!-- <a *ngIf="isLogin" href="#" class="w3-bar-item w3-button w3-hide-small w3-right  w3-hover-white" title="My Account">
      <img src="assets/images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
    </a> -->
    <!-- <a *ngIf="isLogin" class="w3-bar-item w3-button w3-hide-small float-right w3-hover-white header-item" title="Login"
      (click)="logout()"><i class="fa fa-sign-out"> Logout</i></a> -->
  </div>
</div>

<!-- Navbar on small screens -->
<!-- <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium font-large"> -->
<!-- <a *ngIf="isLogin" href="#" class="w3-bar-item w3-button "></a>
  <a *ngIf="isLogin" href="#" class="w3-bar-item w3-button "></a>
  <a *ngIf="isLogin" href="#" class="w3-bar-item w3-button "></a>
  <a *ngIf="isLogin" class="w3-bar-item w3-button w3-hide-small  w3-hover-white header-item" title="Login"
    (click)="logout()"><i class="fa fa-sign-out"> Logout</i></a> -->
<!-- <a *ngIf="isLogin" class="w3-bar-item w3-button w3-hide-small  w3-hover-white header-item" title="Login"
      (click)="logout()"><i class="fa fa-sign-out"> Logout</i></a> -->
<!-- </div> -->