.font-size-12{
    font-size: 12px;
    color:rgba(237, 51, 24, 0.9);
}

.logo{
    border-radius: 0%;
outline-style: outset;
    position: relative;
    top: -4px;
}

.font-large{
        font-size: 18px!important;
}

.header-item{
position: relative;
top:3px;
}

.position{
        position: relative;
    top: 2px;
}


.pointer{
    cursor: pointer;
       
}

.mobileshow { 
display:none; 
}
@media screen and (max-width: 500px) {
.mobileshow { 
display:block; }
}