.color-crimson{
    color:crimson;
    font-weight: bold;
}
.m-t-20{
    margin-top:20px;
}
.heading{
    background-color: #4d636f;
    color: #fff;
    font-weight: bold;
    height: 40px;
    line-height: 33px;
}
.debit{
color:red;font-weight: bold;
}
.credit{
color:green;font-weight: bold;
}

button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: center;
  height:20px;
}

.disable{
pointer-events: none; 
}

.text {
    font-family: sans-serif;
    font-weight: bold;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.buttonwrapper {
    display: inline-block;
  }
.mat-table {
    overflow: auto;
    max-height: 500px;
  }
.mat-header-cell {
    /* font-weight: bold; */
    font-size: 12px;
    background-color:#1a2138;
    color: white;
    font-family: sans-serif;
}
.card-header {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
.text-bold {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.hide {
    display: none;
}
.btn {
    background-color: #28a745;
    color: #fff;
}

.logo-position{
    position: relative;
    top: -30px;
    left: -12px;
}
.address{
    position: relative;
    top: 20px;
    right: -81px;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}
.api-balance-position{
    position: relative;
    top: -23px;
}
.font-size-20{
        font-size: 20px;
}
.mobileshow { 
display:none; 
}
@media screen and (max-width: 500px) {
.mobileshow { 
display:block; }
}

.margin-custom {
    margin-right: 10px;
    margin-left: 10px;
}