<p>
  wallet works! This page is called from {{walletType}}
</p>
<div *ngIf="isWithdrawalWallet">
  <div class="row">
    <div class="col-sm-8">
      <p class="color-crimson">Why you want to widthdraw the balance?</p>
      <textarea rows="4" cols="110" #comment></textarea><br>
      <input type="submit" class="button button-submit float-right" (click)="widthdraw(comment)">
    </div>
  </div>
</div>
<div *ngIf="isBalanceRequest">
  <div class="row">
    <div class="col-sm-8">
      <p class="color-crimson">How much amount you need?</p>
      <input type="number" #amount>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <p class="color-crimson">Comment</p>
      <textarea rows="4" cols="110" #comment></textarea><br>
      <input type="submit" class="button button-submit float-right" (click)="balanceRequest(amount,comment)">
    </div>
  </div>
</div>