<div class="w3-row marque-position">
  <div class="row">
    <div class="col-6">
      <a href="#" class="w3-bar-item w3-button logo-position" routerLink="/dashboard"><img src="assets/logo/Logo.png"
          class="logo" style="width: 160px;height: 90px;" alt="Avatar"></a>
    </div>
    <div class="col-6">
      <div class="w3-card w3-round w3-white w3-center animated flipInX mb-4 api-balance-position">
        <!-- Logout -->
        <a class="w3-bar-item w3-button  w3-right w3-hover-white font-large w3-theme-d2 position mobileshow"
          title="Logout" (click)="logout()"><i class="fa fa-sign-out pointer"></i></a>
        <a class="float-right header-item pointer font-large header-item font-size-20" title="Logout"
          (click)="logout()"><i class="fa fa-sign-out"> Logout</i></a>
      </div>
      <div class="address float-right">
        <table>
          <tr>
            <td>Customer Support :</td>
            <td>+91-8100101025(10am to 7pm)</td>
          </tr>
          <tr>
            <td>Support E-mail :</td>
            <td>support@telecharge.biz(24x7)</td>
          </tr>
        </table>
      </div>
    </div>
  </div>




  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-link" [ngClass]="{'nav-item active': kycMode}"><a (click)='changeView("KYC")'>KYC information</a>
        </li>
        <li class="nav-link" [ngClass]="{'nav-item active': infoMode}"><a (click)='changeView("Basic Info")'>Personal
            Details</a></li>
        <li *ngIf="isSuperAdmin || isAdmin" class="nav-link" [ngClass]="{'nav-item active': adminMode}"><a
            (click)='changeView("Admin View")'>Admin View</a></li>
        <!-- <li class="nav-link" [ngClass]="{'nav-item active': bankMode}"><a (click)='changeView("Bank Account")'>Bank Account</a></li> -->
        <!-- <li><a href="#">Link</a></li> -->
      </ul>
    </div>
  </nav>
  <!-- Section kyc Mode-->
  <div *ngIf='kycMode'>
    <div class="w3-card w3-round w3-white animated flipInX">
      <div class="w3-container">
        <h4 class="w3-center pointer">{{full_name}}</h4>
        <p class="w3-center pointer">
          <img [src]="photo" class="w3-circle" style="height:106px;width:106px" alt="Avatar">

        </p>
        <input #fileImage type="file" (change)="reUploadPhoto(fileImage.files)"
          class="form-control no-border img-circle" />
        <span style="font-weight:bold;color:green;" *ngIf="messagePhoto">
          {{messagePhoto}}
        </span>
        <hr>
        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme pointer"></i> Role : {{role | titlecase}}</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme pointer"></i> City :{{city}}, {{state_name}}</p>
        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme pointer"></i> {{dob}}</p>
        <p class="pl-40">Account Balance&nbsp;&nbsp;
          <span>
            <span>&#8377;</span>
            <strong>{{balance}}</strong>
          </span>
        </p>
      </div>
    </div>
    <hr />
    <div class="w3-card w3-round w3-white animated flipInX pt-6">
      <div class="w3-container">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <h2>KYC Information</h2>
          <div class="row">
            <div class="col-md-2 float-right"><label>ID Proof</label></div>
            <div class="col-md-4 float-left">
              <div class="form-group">
                <select class="form-control" id="id-proof" formControlName="idproof"
                  (change)="onIdProofChanged($event)">
                  <option [value]="0">Select</option>
                  <option *ngFor="let idProof of idProofs" [value]="idProof.id_proof_id">{{idProof.id_proof_type}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-2 float-right"><label>Upload document</label></div>
            <div class="col-md-4 float-left">
              <div class="form-group">
                <input #fileId type="file" accept=".pdf" (change)="uploadIdProof(fileId.files)"
                  formControlName="uploaddocumentid" class="form-control no-border"
                  [ngClass]="{ 'is-invalid': submitted && f.uploaddocumentid.errors }" />
                <span style="font-weight:bold;color:green;" *ngIf="messageIdProof">
                  {{messageIdProof}}
                </span>
                <div *ngIf="submitted && f.uploaddocumentid.errors" class="invalid-feedback">
                  <div *ngIf="f.uploaddocumentid.errors.required">ID Proof is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 float-right"><label>Address Proof</label></div>
            <div class="col-md-4 float-left">
              <div class="form-group">
                <select class="form-control" id="address-proof" formControlName="addressproof"
                  (change)="onAddressProofChanged($event)">
                  <option [value]="0" selected>Select</option>
                  <option *ngFor="let addressProof of addressProofs" [value]="addressProof.address_proof_id">
                    {{addressProof.address_proof_type}}</option>
                </select>
                <!-- <div *ngIf="f.addressproof.errors.required">Address Proof is required</div> -->
              </div>
            </div>
            <div class="col-md-2 float-right"><label>Upload document</label></div>
            <div class="col-md-4 float-left">
              <div class="form-group">
                <input #fileAddress type="file" accept=".pdf" (change)="uploadAddressProof(fileAddress.files)"
                  formControlName="uploaddocumentaddress" class="form-control no-border"
                  [ngClass]="{ 'is-invalid': submitted && f.uploaddocumentaddress.errors }" />
                <span style="font-weight:bold;color:green;" *ngIf="messageAddressProof">
                  {{messageAddressProof}}
                </span>

                <div *ngIf="submitted && f.uploaddocumentaddress.errors" class="invalid-feedback">
                  <div *ngIf="f.uploaddocumentaddress.errors.required">Address Proof is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-md-2 float-right"><label>Bank Details</label></div>
            <div class="col-md-4 float-left">
              <div class="form-group">
                <input type="text" formControlName="bankdetails" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.bankdetails.errors }" />
                <div *ngIf="submitted && f.bankdetails.errors" class="invalid-feedback">
                  <div *ngIf="f.bankdetails.errors.required">Bank Details is required</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 float-right">
            <div class="form-group float-right">
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Section End info Mode-->
  <!-- Section admin Mode-->
  <div *ngIf='adminMode'>
    <app-all-profile></app-all-profile>
  </div>
  <!-- Section End admin Mode-->
  <!-- Edit Profile -->
  <app-edit-profile [user]='userDetails' (userEdited)='handleEditUserOutput($event)' *ngIf='infoMode'>
  </app-edit-profile>
  <!-- End Edit Profile -->
</div>