.pr-17{
    padding-right:17px;
}

.api-balance-position{
    position: relative;
    top: -41px;
}

.main-position{
        position: relative;
    top: -22px;

}

.marque-position{
        position: relative;
    top: 20px;
}