.pr-17{
    padding-right:17px;
}

.api-balance-position{
    position: relative;
    top: -41px;
}

.main-position{
        position: relative;
    top: -22px;

}
.address{
    width: 350px;
    position: relative;
    left: -35px;
    top: -11px;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}
.font-size-20{
        font-size: 20px;
}

.marque-position{
        position: relative;
    top: 18px;
}

.logo-position{
    position: relative;
    top: -48px;
    left: -12px;
     box-shadow: 0 0 8px 8px #f6f6f6 inset;
}

.mobileshow { 
display:none; 
}
@media screen and (max-width: 500px) {
.mobileshow { 
display:block; }
}