<div class="w3-row">
  <!-- Left Column -->
  <div class="w3-col m3">
    <!-- Profile -->
    <app-profile></app-profile>
    <br>

    <!-- Accordion -->
    <div class="w3-card w3-round animated slideInUp">
      <app-report></app-report>
    </div>
    <br>

    <!-- Interests -->
    <div class="w3-card w3-round w3-white w3-hide-small animated slideInUp">
      <app-rank-achiever-list></app-rank-achiever-list>
    </div>
    <br>

    <div class="w3-card w3-round w3-white w3-hide-small animated slideInUp">
      <app-permission></app-permission>
    </div>
    <br>


    <div class="w3-card w3-round animated slideInUp">
      <app-tds-charge></app-tds-charge>
    </div>
    <br>


    <!-- Alert Box -->
    <app-notification></app-notification>

    <!-- End Left Column -->
  </div>

  <!-- Middle Column -->
  <div class="w3-col m7">

    <div class="w3-row-padding animated slideInUp">
      <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
          <app-post></app-post>
        </div>
      </div>
    </div>
    <br />
    <div class="w3-row-padding animated slideInUp">
      <div class="w3-col m12">
        <div class="w3-card w3-round w3-white">
          <app-amount-transfer></app-amount-transfer>
        </div>
      </div>
    </div>
    <br />
    <div class="w3-row-padding animated slideInUp">
      <div class="w3-half w3-margin-bottom animated slideInUp">
        <div class="w3-card w3-round w3-white">
          <app-api-balance></app-api-balance>
        </div>
      </div>
      <div class="w3-half w3-margin-bottom animated slideInUp">
        <div class="w3-card w3-round w3-white">
          <app-add-operator></app-add-operator>
        </div>
      </div>
    </div>

    <div class="w3-row-padding animated slideInUp">
      <div *ngIf="isSuperAdmin" class="w3-half w3-margin-bottom">
        <div class="w3-card w3-round w3-white">
          <app-add-api></app-add-api>
        </div>
      </div>
      <div class="w3-half w3-margin-bottom animated slideInUp">
        <div class="w3-card w3-round w3-white">
          <app-admin-profile></app-admin-profile>
        </div>
      </div>
    </div>



    <div class="w3-row-padding animated slideInUp">
      <div class="w3-half w3-margin-bottom animated slideInUp">
        <div class="w3-card w3-round w3-white">
          <app-recharge></app-recharge>
        </div>
      </div>
      <div class="w3-half w3-margin-bottom animated slideInUp">
        <div *ngIf="isSuperAdmin" class="w3-card w3-round w3-white">
          <app-commission-setting></app-commission-setting>
        </div>
      </div>
    </div>
    <app-content></app-content>

    <!-- End Middle Column -->
  </div>

  <!-- Right Column -->
  <div class="w3-col m2">
    <div class="w3-card w3-round w3-white w3-center animated flipInX mb-4">
      <app-news-update></app-news-update>
    </div>


    <div *ngIf="!isEmployee" class="w3-card w3-round w3-white w3-center animated flipInX mb-4">
      <app-add-employee></app-add-employee>
    </div>


    <div *ngIf="!isEmployee" class="w3-card w3-round w3-white w3-center animated flipInX mb-4">
      <app-generate-token></app-generate-token>
    </div>

    <div *ngIf="isSuperAdmin || isAdmin"
      class="w3-card w3-round w3-white w3-padding-16 w3-center animated flipInX mb-4">
      <app-revive-token></app-revive-token>
    </div>

    <div *ngIf="!isEmployee" class="w3-card w3-round w3-white w3-padding-16 w3-center animated flipInX mb-4">
      <app-add-wallet-balance></app-add-wallet-balance>
    </div>


    <div *ngIf="isSuperAdmin || isAdmin"
      class="w3-card w3-round w3-white w3-padding-32 w3-center animated flipInX mb-4">
      <app-add-wallet-balance-admin></app-add-wallet-balance-admin>
    </div>


    <div *ngIf="isSuperAdmin || isAdmin"
      class="w3-card w3-round w3-white w3-padding-32 w3-center animated flipInX mb-4">
      <app-deduct-wallet-balance></app-deduct-wallet-balance>
    </div>

    <div *ngIf="!isEmployee" class="w3-card w3-round w3-white w3-padding-32 w3-center animated flipInX mb-4">
      <app-wallet-balance-report></app-wallet-balance-report>
    </div>

    <div *ngIf="!isEmployee" class="w3-card w3-round w3-white w3-padding-32 w3-center animated flipInX mb-4">
      <app-recharge-transaction-report></app-recharge-transaction-report>
    </div>

    <!-- <div *ngIf="isSuperAdmin || isAdmin" class="w3-card w3-round w3-white w3-padding-32 w3-center animated flipInX mb-4"> -->
    <div class="w3-card w3-round w3-white w3-padding-32 w3-center animated flipInX mb-4">
      <app-widthdrawal-request></app-widthdrawal-request>
    </div>


    <!-- End Right Column -->
  </div>

  <!-- End Grid -->
</div>