@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}

#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
.footer {
 position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

/* #footer {
   position: fixed;
   bottom:0;
   width:100%;
   height:75px;  
   background:#6cf;
}
.footer-p{
    text-align: center;
    margin-top: 11px;
 } */
.pointer {cursor: pointer;}
.mandatory{
   font-weight: bold;
   color: red;
   font-size: 1.25rem;
}
.grid-header{
  background-color:  darkgray;
}
.hand{
    cursor:pointer;
}

/* test */

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.body-grad{
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6, #c8c9ca);
}
/* body {
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
} */

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-img-left {
  width: 45%;
  /* Link to your background image using in the property below! */
  background: scroll center url('https://source.unsplash.com/WEQbe2jBg40/414x512');
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

input[type="button"]:hover, button:hover {
    transform:  translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

  input[type="button"]:hover::after, button:hover::after {
  opacity: 1;
}

  input[type="button"]:active, button:active {
      transform:  scale(.99);
    }
.modal {
  z-index: 999;
}
.modal-backdrop {
  z-index: 998;
}