span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.logo-position{
    position: relative;
    top: -30px;
    left: -12px;
}
.address{
    position: relative;
    top: 20px;
    right: -81px;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}
.api-balance-position{
    position: relative;
    top: -23px;
}
.font-size-20{
        font-size: 20px;
}
.mobileshow { 
display:none; 
}
@media screen and (max-width: 500px) {
.mobileshow { 
display:block; }
}