<p>
  Wallet Add Approval
</p>
<div class="row header border border-dark">
  <div class="col-sm-1">FIRST NAME</div>
  <div class="col-sm-1">MIDDLE NAME</div>
  <div class="col-sm-1">LAST NAME</div>
  <div class="col-sm-2">COMMENT</div>
  <div class="col-sm-1">AMOUNT</div>
  <div class="col-sm-1">REQUEST TYPE</div>
  <div class="col-sm-1">CREATED ON</div>
  <div class="col-sm-1">APPROVE</div>
  <div class="col-sm-1">REJECT</div>
  <div class="col-sm-2">COMMENT BY ADMIN</div>
</div>
<div class="row  border  border-top-0 border-dark pt-2" *ngFor="let detail_message of detail_messages">
  <div class="col-sm-1">{{detail_message.firstname}}</div>
  <div class="col-sm-1">{{detail_message.middlename}}</div>
  <div class="col-sm-1">{{detail_message.lastname}}</div>
  <div class="col-sm-2">{{detail_message.comment}}</div>
  <div class="col-sm-1"><span>&#8377;</span>{{detail_message.wallet_balance}}</div>
  <div class="col-sm-1" *ngIf="detail_message.balance_request_type=='a'"><span
      style="color:green;font-weight: bold;">ADD</span></div>
  <div class="col-sm-1" *ngIf="detail_message.balance_request_type=='d'"><span
      style="color:red;font-weight: bold;">DEDUCT</span></div>
  <div class="col-sm-1">{{detail_message.createdon | date: 'MMM/dd/yyyy'}}</div>
  <div class="col-sm-1">
    <mat-slide-toggle #approve [checked]="detail_message.approved" (change)="onChange(detail_message)">
    </mat-slide-toggle>
  </div>
  <div class="col-sm-1">
    <mat-slide-toggle #reject [checked]="detail_message.rejected" (change)="onChangeReject(detail_message)">
    </mat-slide-toggle>
  </div>
  <div class="col-sm-2"><textarea rows="1" cols="24" #admincomment [disabled]="IsDisabled(detail_message)"
      [(ngModel)]="detail_message.admin_comment"></textarea></div>
</div>
<div class="row">
  <div class="col-sm-12 ml-3 mt-2">
    <input type="submit" class="button button-submit float-right margin-right-15" (click)="submit()">
  </div>
</div>