.header{
    color:black;
    font-weight: bold;
}


.logo-position{
    position: relative;
    top: -30px;
    left: -12px;
}
.address{
    position: relative;
    top: -11px;
    right: 2px;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}.card-header {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}