<div class="w3-card w3-round w3-white animated flipInX">
  <div class="w3-container">
    <!-- <h4 class="w3-center pointer profile-name">{{full_name}}</h4> -->
    <p class="w3-center pointer" style="margin-top: 5px;">
      <img *ngIf="sex=='Male'" [src]="photo"
        onerror="this.onerror=null;this.src='http://nagsoumit-001-site1.itempurl.com/global/he.png';" class="w3-circle"
        style="height:106px;width:106px" alt="Avatar">

      <img *ngIf="sex!='Male'" [src]="photo"
        onerror="this.onerror=null;this.src='http://nagsoumit-001-site1.itempurl.com/global/she.png';" class="w3-circle"
        style="height:106px;width:106px" alt="Avatar">
      </p>
    <hr>
    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme pointer"></i>Name: 
      <span>{{first_name | titlecase}}
        {{last_name | titlecase}}</span>
      </p>
    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme pointer"></i>Rank: <span>{{userRank}}</span></p>
    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme pointer"></i>Mobile: <span>{{mobile}}</span></p>
    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme pointer"></i>Email: <span>{{email}}</span></p>
    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme pointer"></i> <span>{{dob}}</span></p>
    <!-- <p class="pl-40">Account Balance&nbsp;&nbsp;<span
        [ngClass]="{'low_balance': balance <= 100, 'high_balance':balance > 100 }"><span>&#8377;</span><strong>{{balance}}</strong></span>
    </p> -->
    <hr>
    <div class="w3-card-footer">
      <p><i class="fa fa-user fa-fw w3-margin-right w3-text-theme pointer"></i> <a class="text"
          [routerLink]="['/profile']" title="Profile">Edit Profile</a></p>

    </div>
  </div>
</div>