<div class="w3-container">
  <p>Rank Achiever List</p>
  <div class="row">
    <div class="col-sm-4"><i class="fa fa-child w3-large"></i></div>
    <div class="col-sm-4">Children</div>
    <div class="col-sm-4"><span class="pl-5" *ngIf="children">{{children.length}}</span></div>
  </div>
  <div class="row">
    <div class="col-sm-4"><i class="fa fa-users w3-large"></i></div>
    <div class="col-sm-4">Siblings</div>
    <div class="col-sm-4"><span class="pl-5" *ngIf="siblings">{{siblings.length}}</span></div>
  </div>
  <div class="row">
    <div class="col-sm-6">&nbsp;</div>
    <div class="col-sm-6 hand" (click)="details()"><u>details....</u></div>
  </div>
</div>