.no-border{
    border: 0;
    box-shadow: none;
    border-left:0 solid transparent;
    background: transparent;
    padding-left: -11px;
}
.font-red{
    color:red;
    font-weight: bold;
}

.cost{
      padding-top: 20px;
    padding-left: 12px;
}

  .logo-position{
    position: relative;
    top: -30px;
    left: -12px;
}
.address{
    position: relative;
    top: -11px;
    right: 2px;
    text-align: right;
    font-weight: bold;
    font-size: 11px;
}.card-header {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
} 
