.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
   pointer-events: none;
}

.icon-position{
    position: relative;
    top: 9px;
    float: right;
}


.widget-text {
  font-family: cursive;
  font-weight: 700;
}